@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav img {
  width: 200px;
  height: 60px;
  margin-right: 25px;
}
header .container .navbaritems {
  width: 80%;
  margin-top: 10px;
}
header .container .navbaritems ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .container .navbaritems ul li a {
  color: #683BC7;
  font-weight: bold;
}
header .container .navbar-nav .nav-link {
  position: relative;
  padding-bottom: 5px;
}
header .container .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #683BC7;
  transition: width 0.3s ease;
}
header .container .navbar-nav .nav-link:hover::after {
  width: 100%;
}

#home {
  width: 100%;
  height: 500px;
}
#home .carousel {
  position: relative;
}
#home .carousel .carousel-inner .carousel-item {
  position: relative;
}
#home .carousel .carousel-inner .carousel-item .bs-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0; /* header-in üzərinə çıxmasın deyə kiçik edirik */
}
#home .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1; /* overlay-in altında qalması üçün */
}