*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  .container{
      nav{
        img{
           
         width: 200px;
         height: 60px;
margin-right: 25px;
        }
    }
    .navbaritems{

        width: 80%;
        margin-top: 10px;
ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
        a{
            color: $primary-color;
            font-weight: bold;
        }
    }
}       
       
    }
    .navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: $primary-color; 
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

  }
}


#home {
  width: 100%;

  .carousel {
    position: relative;

    .carousel-inner {
      .carousel-item {
        position: relative;

        .bs-overlay {
          position: absolute;
          inset: 0;                       
          background: rgba(0,0,0,0.4);   
          display: flex;
          align-items: center;
          justify-content: flex-start; 
         
          z-index: 0; 
          .homediv{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: start;
             margin-left: 25px;
             padding-left: 25px;
            h1{
                color: white;
                
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: -1; /* overlay-in altında qalması üçün */
        }
      }
    }
  }
}

#aboutus{
width: 100%;
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  .logodiv{
    img{
      width: 100%;
    }
  }
  .aboutdiv {

  padding: 20px;
  background: #fff;
  border-radius: 10px;
text-align: justify;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 25px;
h1{
  color: $primary-color;
  font-size: 60px;
  margin-bottom: 20px;
}
p{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}
  button {
    margin-top: 10px;
    padding: 8px 14px;
    background:$primary-color;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    

    &:hover {
      background: white;
      color: $primary-color;
      transition: 0.5s;
      border: 1px solid $primary-color;
      
    }
  }
}

.modal {
  display: none;
  position: fixed;
  inset: 0; // top:0 left:0 width:100 height:100
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.show {
    display: flex;
  }

  .modal-content {
    background:$primary-color;
    color: white;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;

    .close {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 28px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

}
}

















@media screen and (max-width:575px) {
    #home{
        height: 800px;
       
        .carousel{
            height: 100%;
            .carousel-inner{
                   height: 100%;
                .carousel-item{
                       height: 100%;
                    .bs-overlay{
                        .homediv{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}